@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

html {
  scroll-behavior: smooth;
}

body {
   overflow-x: hidden;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--primary-color);
  background: linear-gradient(180deg, #e9e9e9 40%, #fff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
}

.title__box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
