:root {
--primary-color
	: #000;
	--secondary-color: #e9ff61;
	--subtext-color: #999;
	--white-transparent-1: rgba(255, 255, 255, 0.5);
	--white-transparent-2: rgba(255, 255, 255, 0.1);
	--background-color-1: #fff;
	--background-color-2: #edf2f6;
	--background-color-3: #e9e9e9;

  --font-family: "Syne", sans-serif;
}

/* :hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
} */
