@import url(/Smooth/style/css/reset.css);
@import url(/Smooth/style/css/basic.css);
@import url(/Smooth/style/css/variables.css);
@import url(/Smooth/style/css/header.css);
@import url(/Smooth/style/css/hero.css);
@import url(/Smooth/style/css/products.css);
@import url(/Smooth/style/css/about.css);
@import url(/Smooth/style/css/mobility.css);
@import url(/Smooth/style/css/comfort.css);
@import url(/Smooth/style/css/comfort__form-wrapper.css);
@import url(/Smooth/style/css/footer.css);






